################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Aksl.LiveCharts/FileContentIndex/deb3a5d9-f481-43b4-93e2-1d827e60785f.vsidx
