################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Aksl.Prism.LiveCharts/FileContentIndex/5a0c242b-efee-401f-b238-b385c315a1e4.vsidx
/.vs/Aksl.Prism.LiveCharts/FileContentIndex/21ed27e3-2735-4b46-bfc0-8c0a0a3cba91.vsidx
